/*****************************************************************************
/*
/*   HOMEPAGE CONTENT
/*
*/

#content-center {
	background: rgba(0, 0, 0, 0);
	box-sizing: content-box;
	overflow: hidden;
	min-height: 100%;
	margin: 4em 0;
}

#logo {
	display: block;
	max-width: 85%;
	margin: auto;
	margin-top: 3em;
}

#socialmedia {
	text-align: center;
	margin-top: 2em;
}

#socialmedia img {
	width: 1.5em;
	margin: 0 1em;
}

#container-listen-now {
	margin-top: 2em;
	padding: 0 3em;
}

#listen_now {
	background: #45277a;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	margin: auto;
	border-radius: 4px;
	padding: 1em;
	padding-top: 0.8em;
	text-transform: uppercase;
	font-size: 1.2em;
	letter-spacing: 0.1em;
	font-family: MontserratLight;
	color: white;
	display: block;
	text-decoration: none;
	max-width: 1200px;
}

#listen_now:hover {
	background: #4b2a85;
}

#listen_now:active {
	background: #402470;
}

#listen_now img {
	height: 0.75em;
	margin-right: 0.5em;
}

.home-link {
	color: white;
	font-size: 0.8em;
	text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.3);
	text-decoration: none;
	font-family: MontserratBold;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	display: block;
	text-align: center;
	margin-top: 3em;
}




#copyright {
	font-family: MontserratBold;
	color: #664f92;
	text-transform: uppercase;
	text-align: center;
	font-size: 0.6em;
	letter-spacing: 0.2em;
	display: block;
	margin: 5em 0;
}

@media only screen and (min-width: 1300px) {
	
	#logo {
		width: auto;
	}
	
}